/* styles for mobile starting at 375px*/
*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 100px 120px 20px 1fr 50px 150px 150px 100px 130px /* 10 */ 180px 100px 130px 100px 130px 180px 150px 150px 100px 130px /* 20 */ 20px 180px 150px 30px 50px 200px 30px 50px 180px 80px /* 30 */ 20px 180px 150px 30px 50px 120px 120px;
    grid-gap: 10px;

    max-width: 900px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    /* border: 1px solid gray; */
}

.header-img{
    /* border: 1px solid gray; */
    grid-row: 1 / span 2;
    grid-column: 1 / span 12;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 50pt;
    text-align: center;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 12pt;
    color: #2C506F;
}

.top{
    grid-row: 2 / span 1;
    grid-column: 1 / span 12;
    color: #fff;
    font-size: 50pt;
    align-self: end;
    position: relative;
    top: 20px;
    /* border: 1px solid gray; */
}

.bottom{
    grid-row: 3 / span 1;
    grid-column: 1 / span 12;
    color: #2C506F;
    /* border: 1px solid gray; */
}

.intro{
    grid-row: 5 / span 1;
    grid-column: 3 / span 8;
    text-align: center;
    color: #707070;
    font-size: 9pt;
    font-weight: 300;
    line-height: 21pt;
    /* border: 1px solid gray; */
}

.picture1{
    grid-row: 7 / span 1;
    grid-column: 1 / span 5;
}

.picture2{
    grid-row: 8 / span 1;
    grid-column: 1 / span 5;
}

.picture3{
    grid-row: 12 / span 2;
    grid-column: 8 / span 5;
}

.picture4{
    grid-row: 17 / span 1;
    grid-column: 1 / span 5;
}

.picture5{
    grid-row: 18 / span 1;
    grid-column: 1 / span 5;
}

.picture6{
    grid-row: 23 / span 1;
    grid-column: 1 / span 12;
}

.graph1{
    grid-row: 26 / span 1;
    grid-column: 1 / span 12;
}

.picture7{
    grid-row: 29 / span 1;
    grid-column: 1 / span 4;
}

.picture8{
    grid-row: 29 / span 1;
    grid-column: 5 / span 8;
}

.picture9{
    grid-row: 33 / span 1;
    grid-column: 1 / span 12;
}

.picture10{
    grid-row: 36 / span 1;
    grid-column: 1 / span 6;
    border: 1px solid gray;
}

.picture11{
    grid-row: 36 / span 1;
    grid-column: 7 / span 6;
    border: 1px solid gray;
}

.picture12{
    grid-row: 37 / span 1;
    grid-column: 1 / span 4;
    border: 1px solid gray;
}

.picture13{
    grid-row: 37 / span 1;
    grid-column: 5 / span 8;
    border: 1px solid gray;
}

.blue1{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
    grid-template-rows: 20px 1fr 20px 1fr 20px;
    grid-row: 7 / span 2;
    grid-column: 6 / span 7;
    background-color: #2C506F;
}

.blue2{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
    grid-template-rows: 20px 1fr 20px 1fr 20px;
    grid-row: 12 / span 2;
    grid-column: 1 / span 7;
    background-color: #2C506F;
}

.blue3{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 20px;
    grid-template-rows: 20px 1fr 20px 1fr 20px;
    grid-row: 17 / span 2;
    grid-column: 6 / span 7;
    background-color: #2C506F;
}

.side-info1{
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    color: #fff;
    font-size: 7pt;
    line-height: 16pt;
}

.side-info2{
    grid-row: 4 / span 1;
    grid-column: 2 / span 2;
    color: #fff;
    font-size: 7pt;
    line-height: 16pt;
}

.side-info3{
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    color: #fff;
    font-size: 7pt;
    line-height: 16pt;
}

.side-info4{
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    color: #fff;
    font-size: 7pt;
    line-height: 16pt;
}

.side-info5{
    grid-row: 4 / span 1;
    grid-column: 2 / span 2;
    color: #fff;
    font-size: 7pt;
    line-height: 16pt;
}

.sub1{
    grid-row: 10 / span 1;
    grid-column: 1 / span 12;
    text-align: center;
    font-size: 40pt;
    line-height: 40pt;
    color: #2C506F;
    /* border: 1px solid gray; */
}

.sub2{
    grid-row: 15 / span 1;
    grid-column: 1 / span 12;
    text-align: center;
    font-size: 40pt;
    line-height: 40pt;
    color: #2C506F;
    /* border: 1px solid gray; */
}

.sub3{
    grid-row: 20 / span 1;
    grid-column: 1 / span 12;
    text-align: center;
    font-size: 40pt;
    line-height: 40pt;
    color: #2C506F;
    /* border: 1px solid gray; */
}

.yellow{
    color: #ffcd00;
}

.ux-ui-content{
    grid-row: 11 / span 1;
    grid-column: 3 / span 8;
    color: #707070;
    font-size: 7pt;
    font-weight: 300;
    line-height: 16pt;
    /* border: 1px solid gray; */
}

.ux-ui-law{
    grid-row: 16 / span 1;
    grid-column: 3 / span 8;
    color: #707070;
    font-size: 7pt;
    font-weight: 300;
    line-height: 16pt;
    /* border: 1px solid gray; */
}

.good-design{
    grid-row: 21 / span 1;
    grid-column: 3 / span 6;
    /* border: 1px solid gray; */
}

.good-info{
    grid-row: 22 / span 1;
    grid-column: 3 / span 8;
    color: #707070;
    font-size: 7pt;
    font-weight: 300;
    line-height: 16pt;
    /* border: 1px solid gray; */
}

.caption1{
    grid-row: 24 / span 1;
    grid-column: 3 / span 8;
    color: #707070;
    font-size: 5pt;
    font-weight: 300;
    line-height: 9pt;
}

.caption2{
    grid-row: 27 / span 1;
    grid-column: 3 / span 8;
    color: #707070;
    font-size: 5pt;
    font-weight: 300;
    line-height: 9pt;
}

.caption3{
    grid-row: 34 / span 1;
    grid-column: 3 / span 8;
    color: #707070;
    font-size: 5pt;
    font-weight: 300;
    line-height: 9pt;
}

.bad-design{
    grid-row: 31 / span 1;
    grid-column: 3 / span 6;
    /* border: 1px solid gray; */
}

.bad-info{
    grid-row: 32 / span 1;
    grid-column: 3 / span 8;
    color: #707070;
    font-size: 7pt;
    font-weight: 300;
    line-height: 16pt;
    /* border: 1px solid gray; */
}


/* ******************************************** */

@media only screen and (min-width: 600px){
    .grid-container{
        grid-template-rows: 50px 100px 100px 20px 1fr 50px 150px 150px 100px 130px /* 10 */ 180px 100px 130px 100px 130px 180px 150px 150px 100px 130px /* 20 */ 20px 180px 200px 30px 50px 200px 30px 50px 180px 80px /* 30 */ 20px 180px 150px 30px 50px 120px 120px;
    }

    .top{
        font-size: 60pt;
    }

    .bottom{
        font-size: 60pt;
    }

    .side-info1{
        font-size: 9pt;
    }

    .side-info2{
        font-size: 9pt;
    }

    .side-info3{
        font-size: 9pt;
    }

    .side-info4{
        font-size: 9pt;
    }

    .side-info5{
        font-size: 9pt;
    }

    .caption1, .caption2, .caption3{
        font-size: 6pt;
    }
}


/* ******************************************** */

@media only screen and (min-width: 768px){
    .grid-container{
        grid-template-rows: 120px 100px 100px 20px 1fr 50px 150px 150px 100px 130px /* 10 */ 180px 100px 130px 100px 130px 180px 150px 150px 100px 130px /* 20 */ 20px 180px 200px 30px 50px 200px 30px 50px 180px 80px /* 30 */ 20px 180px 150px 30px 50px 120px 120px;
    }

    .top{
        font-size: 70pt;
        position: relative;
        top: 25px;
    }

    .intro{
        grid-column: 3 / span 8;
        font-size: 11pt;
        line-height: 23pt;
    }
}